<h1>Dodaj nowy produkt</h1>

<%= form_for(@product) do |f| %>
  <%= f.text_field :title, :placeholder => "Tytuł książki" %>
  <%= f.text_field :author, :placeholder => "Autor" %>
  <%= f.text_field :isbn, :placeholder => "ISBN" %>
  <%= f.number_field :pages, :placeholder=> "Liczba stron" %>
  <%= f.submit "Dodaj produkt", class: "btn-submit" %>
<% end %>
